{%- if settings.show_multiple_currencies -%}
<div class="block_currencies d-none d-md-block">

  <div data-toggle="dropdown" class="dropdown-toggle" title="Currencies">
    <span class="pre-currencies"><img loading="lazy" src="{%- render 'processCurrencyImage', current_currency: shop.currency -%}" alt="{{ shop.currency }}" width="auto" height="auto" >{{ shop.currency }}</span>
  </div>
  <ul id="currencies" class="list-unstyled dropdown-menu shadow">
    <li>
      <a data-currency="{{ shop.currency }}" class="selected" href="javascript:void(0)" rel="nofollow">
        <img loading="lazy" src="{%- render 'processCurrencyImage', current_currency: shop.currency -%}" alt="{{ shop.currency }}"
                  width="auto"
          height="auto">
        {{ shop.currency }}
      </a>
    </li>
    {%- assign currencies = settings.list_currencies | split: "," -%}
    {%- assign count = currencies.size | minus: 1 -%}
    {%- for i in (0..count) -%}
    {%- assign currency = currencies[i] -%}
    <li>
      <a data-currency="{{ currency }}" href="javascript:void(0)" rel="nofollow">
        <img loading="lazy" src="{%- render 'processCurrencyImage', current_currency: currency -%}" alt="{{ currency }}" 
                  width="auto"
          height="auto"/>
        {{ currency }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</div>
{%- endif -%}