<!-- block-menu.liquid -->
{{ 'block-menu.css' | asset_url | stylesheet_tag }}

<div class="nav-bkg"></div>
<nav class="nav-bar nav-mega" role="navigation">
  <div class="menu-close">
    <button class="button-close" type="button">{%- render 'icon-close' -%}</button>
  </div>
  <ul class="site-nav d-flex">
    {%- for link in linklists[settings.main_linklist].links -%}
      {%- assign hasMega = false -%}
      {%- assign titleCheckMega = link.title | escape | split: '[' | first | split: '}' | last | downcase -%}
      {%- for i in (1..4) -%}
        {%- capture apmegamenu_title -%}apmenuitem_title_{{ i }}{%- endcapture -%}
        {%- assign megamenu_title = settings[apmegamenu_title] | escape | strip | downcase -%}
        {%- if titleCheckMega == megamenu_title -%}
          {%- assign hasMega = true -%}
          {%- assign intMega = i -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if hasMega -%}
        {%- assign isFullwidth = true -%}
        {%- assign settingWidth = 'apmenuitem_width_' | append: intMega -%}
        {%- assign widthMega = settings[settingWidth] -%}
        {%- if widthMega != 0 -%}
          {%- assign isFullwidth = false -%}
        {%- endif -%}

        <li class="site-nav__item site-nav__item-mega {% unless isFullwidth %} site-nav__item-mega--custom{% endunless %} {% if link.active %} site-nav--active{% endif %}" data-width="{{widthMega}}">
          <a href="{{ link.url }}" class="site-nav__link dropdown-toggle" {% if link.active %} aria-current="page"{% endif %}>
            <span>
            {%- render 'processMenuTitle' with itemName:link.title -%}
            {%- render 'processMenuLabel' with itemName:link.title -%}
            </span>
          </a>
          <span class="drawer__nav-toggle--open">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
          <div class="site__dropdown site-nav__dropdown meganav meganav-{{intMega}} " {%- if widthMega != 0 -%}style="width: {{widthMega}}px;"{%- endif -%}>
            {%- render 'megamenu', intMega:intMega -%}
          </div>
        </li>
      {%- elsif link.links != blank -%}
        <li class="site-nav__item site-nav__item-normal {% if link.active %} site-nav--active{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link dropdown-toggle" {% if link.active %} aria-current="page"{% endif %}>
            <span>
            {%- render 'processMenuTitle' with itemName:link.title -%}
            {%- render 'processMenuLabel' with itemName:link.title -%}
            </span>
          </a>
          <div class="site__dropdown site-nav__dropdown meganav">
            <ul class="meganav__nav">
              {%- render 'site-nav' -%}
            </ul>
          </div>
        </li>
        {%- else -%}
        <li class="site-nav__item{% if link.active %} site-nav--active{% endif %}">
          <a href="{{ link.url }}" class="site-nav__link"{% if link.active %} aria-current="page"{% endif %}>
            <span>
            {%- render 'processMenuTitle' with itemName:link.title -%}
            {%- render 'processMenuLabel' with itemName:link.title -%}
            </span>
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>