<slider-component class="slider-mobile-gutter">
  <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
    {{ "accessibility.skip_to_product_info" | t }}
  </a>
  <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
    {%- assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' -%}
    {%- if product.selected_or_first_available_variant.featured_media != null -%}
      {%- assign media = product.selected_or_first_available_variant.featured_media -%}
      <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
        {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
      </li>
    {%- endif -%}
    {%- for media in product.media -%}
    {%- if media.media_type == 'image' -%}
      {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
        <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
          {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true %}
        </li>
      {%- endunless -%}
    {%- endif -%}
    {%- endfor -%}
  </ul>
  <div class="slider-buttons no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
    <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
    <div class="slider-counter caption">
      <span class="slider-counter--current">1</span>
      <span aria-hidden="true"> / </span>
      <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
      <span class="slider-counter--total">{% if section.settings.hide_variants %}{{ product.media.size | minus: variant_images.size | plus: 1 }}{% else %}{{ product.media.size }}{% endif %}</span>
    </div>
    <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
  </div>
</slider-component>