<div class="icon-search">
    <div class="search-media">
        <button onclick="toggleClassSearch()" class="search-btn-media">
            {%- render 'icon-search' -%}
        </button>
    </div>

    <div class="form-search" id="form-search-icon">
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
            {%- if settings.show_search_categories -%}
            <div class="collection-select-search">
                <select>
                  <option value="">All</option>
                  {% for collection in collections %}
                  <option value="{{collection.handle}}">{{collection.title}}</option>
                  {% endfor %}
                </select>
              </div>
            {%- endif -%}
            <div class="field">
                <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" autocomplete="off" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.search' | t }}">
                <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                <input type="hidden" name="options[prefix]" value="last">
                <button class="search__button field__button focus-inset" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
                    </svg>
                </button>
                <div class="search-results"></div>
            </div>
        </form>
    </div>

</div>

<span class="close-search">
    <i class="fa times-circle"></i>
</span>

<div class="modal_search"></div>