<!-- site-logo.liquid -->
<style>
  .site-footer__logo img {
    max-width: {{ section.settings.logo_width | append: 'p' }};
  }
</style>
{%- if section.settings.logo != blank -%}
<div class="site-footer__logo">
  {%- capture image_size -%}{{ section.settings.logo_width }}x{%- endcapture -%}
  <a href="/" itemprop="url" class="site-header__logo-link">
    <img loading="lazy" width="auto" height="auto"
      src="{{ section.settings.logo | image_url: image_size }}"
      srcset="{{ section.settings.logo | image_url: image_size }} 1x, {{ section.settings.logo | image_url: image_size, scale: 2 }} 2x"
      alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
  </a>
</div>
{%- endif -%}