<!-- advanced-content.liquid -->

{{ 'advanced-content.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{% render 'section-style' %}

<div class="advanced-content
advanced-{%- if section.settings.style_advanced == 'style-1' -%}style-1
{%- elsif section.settings.style_advanced == 'style-2' -%}style-2
{%- elsif section.settings.style_advanced == 'style-3' -%}style-3
{%- endif -%}"
">
  <div class="{%- if section.settings.fullwidth -%}container-fluid{%- else -%}container{%- endif -%}">
    <h2 class="section-header">{{ section.settings.heading | escape }}</h2>
    <p class="section-text">{{ section.settings.text_decoration }}</p>

    <div class="row">
      {%- for block in section.blocks -%}
        {%- case block.settings.width -%}
        {%- when '25%' -%}
        {%- assign block_width = 'col-lg-3 col-md-3' -%}
        {%- when '33%' -%}
        {%- assign block_width = 'col-xl-4 col-lg-5 col-md-5' -%}
        {%- when '40%' -%}
        {%- assign block_width = 'col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12' -%}
        {%- when '50%' -%}
        {%- assign block_width = 'col-md-6' -%}
        {%- when '60%' -%}
        {%- assign block_width = 'col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12' -%}
        {%- when '66%' -%}
        {%- assign block_width = 'col-xl-8 col-lg-7 col-md-7' -%}
        {%- when '75%' -%}
        {%- assign block_width = 'col-lg-9 col-md-9' -%}
        {%- when '100%' -%}
        {%- assign block_width = 'col-12' -%}
        {%- endcase -%}
        <div class="{{block_width}}">
          {%- case block.type -%}
          
              {%- when 'image' -%}
              <div class="advanced-image">
                  <div class="advanced-image-content">
                  {%- if block.settings.image != blank -%}
                    <div class="advanced-image-{% if block.settings.effects_image %}blog{% else %}media{% endif %} {% if block.settings.image != blank %}media{% else %}image-advanced__media--placeholder placeholder{% endif %}"
                     style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                    >
                      <img class="advanced__image"
                      srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | img_url: '360x' }} 360w,{%- endif -%}
                        {%- if block.settings.image.width >= 480 -%}{{ block.settings.image | img_url: '480x' }} 480w,{%- endif -%}
                        {%- if block.settings.image.width >= 850 -%}{{ block.settings.image | img_url: '1290x' }} 1290w,{%- endif -%}
                        {%- if block.settings.image.width >= 1200 -%}{{ block.settings.image | img_url: '1300x' }} 1300w,{%- endif -%}
                        {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}"
                      src="{{ block.settings.image | img_url: 'master' }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                    >
                    </div>
                  {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                  </div>
              </div>

              {%- when 'collection'-%}
              <div class="advanced-content-card {% if block.settings.image_collection != blank %}media{% else %}image-advanced__media--placeholder placeholder{% endif %}" style="padding-bottom: {{ 1 | divided_by: block.settings.image_collection.aspect_ratio | times: 100 }}%;" >
                <a href="{{ block.settings.collection.url | default:'#' }}">
                  {%- if block.settings.image_collection != blank -%}
                  <img
                      srcset="{%- if block.settings.image_collection.width >= 165 -%}{{ block.settings.image_collection | img_url: '165x' }} 165w,{%- endif -%}
                        {%- if block.settings.image_collection.width >= 360 -%}{{ block.settings.image_collection | img_url: '360x' }} 360w,{%- endif -%}
                        {%- if block.settings.image_collection.width >= 535 -%}{{ block.settings.image_collection | img_url: '535x' }} 535w,{%- endif -%}
                        {%- if block.settings.image_collection.width >= 750 -%}{{ block.settings.image_collection | img_url: '750x' }} 750w,{%- endif -%}
                        {%- if block.settings.image_collection.width >= 1070 -%}{{ block.settings.image_collection | img_url: '1070x' }} 1070w,{%- endif -%}
                        {%- if block.settings.image_collection.width >= 1500 -%}{{ block.settings.image_collection | img_url: '1500x' }} 1500w,{%- endif -%}"
                      src="{{ block.settings.image_collection | img_url: 'master' }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ block.settings.image_collection.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image_collection.width }}"
                      height="{{ block.settings.image_collection.height }}"
                    >
                  <h3 class="title-collection">{{ block.settings.collection.title | escape }}</h3>
                  {%- else -%}
                  {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  <h3 class="collection-title">Collection</h3>
                  {%- endif -%}
                </a>
              </div>


              {%- when 'product'-%}
              <div class="advanced-product">
                <div class="advanced-product-carousel slide-slick ap-custom-slick"
                data-setting='{"accessibility": false, "arrows": {{ block.settings.arrows }},
                "dots": {{ block.settings.dots }}, "draggable": {{ block.settings.draggable }},
                "infinite": {{ block.settings.infinite }}, "autoplay": {{ block.settings.autoplay }},
                "autoplaySpeed": {{ block.settings.autoplaySpeed }}, "speed": {{ block.settings.speed }},
                "slidesToShow": {{ block.settings.slidesToShow }}, "slidesToScroll": {{ block.settings.slidesToScroll }},
                "vertical": false, "mobileFirst": false, "pauseOnHover": {{ block.settings.pauseOnHover }},
                "rows": {{ block.settings.rows }}, "slidesPerRow": 1, "rtl": 1,
                "slidesToShow_992": {{ block.settings.slidesToShow_992 }}, "slidesToScroll_992": {{ block.settings.slidesToScroll_992 }},
                "arrows_992": {{ block.settings.arrows_992 }}, "dots_992": {{ block.settings.dots_992 }},
                "slidesToShow_767": {{ block.settings.slidesToShow_767 }}, "slidesToScroll_767": {{ block.settings.slidesToScroll_767 }},
                "arrows_767": {{ block.settings.arrows_767 }}, "dots_767": {{ block.settings.dots_767 }},
                "slidesToShow_450": {{ block.settings.slidesToShow_450 }}, "slidesToScroll_450": {{ block.settings.slidesToScroll_450 }},
                "arrows_450": {{ block.settings.arrows_450 }}, "dots_450": {{ block.settings.dots_450 }}}'>
                    {%- for product in block.settings.collection.products -%}
                      <div class="items-product">
                        {%- if block.settings.collection.products.size == 1 -%}
                        {% render 'product-card',
                          product_card_product: product,
                          media_size: block.settings.image_ratio,
                          show_secondary_image: block.settings.show_secondary_image,
                          add_image_padding: block.settings.add_image_padding,
                          show_vendor: block.settings.show_vendor
                        %}
                        {%- else -%}
                        {% render 'product-card',
                          product_card_product: product,
                          media_size: block.settings.image_ratio,
                          show_secondary_image: block.settings.show_secondary_image,
                          add_image_padding: block.settings.add_image_padding,
                          show_vendor: block.settings.show_vendor
                        %}
                        {%- endif -%}
                      </div>
                    {%- endfor -%}
                    {%- if block.settings.collection == blank -%}
                        {%- for i in (1..6) -%}
                        <li class="product-items">
                          {%- capture current -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </li>
                        {%- endfor -%}
                    {%- endif -%}
                </div>
              </div>

              {%- when 'text_list'-%}
              <div class="advanced-content_text {%- if block.settings.text_align == 'left' -%}{{ 'text-start' | prepend: ' ' }}
              {%- elsif block.settings.text_align == 'center' -%}{{ 'text-center' | prepend: ' ' }}
              {%- elsif block.settings.text_align == 'right' -%}{{ 'text-end' | prepend: ' ' }}
              {%- endif -%}
              text-list-{%- if block.settings.style_text_list == 'base' -%}base
              {%- elsif block.settings.style_text_list == 'style-1' -%}style-1
              {%- elsif block.settings.style_text_list == 'style-2' -%}style-2
              {%- elsif block.settings.style_text_list == 'style-3' -%}style-3
              {%- endif -%}
              ">
                  <h3 class="advanced-content_text-title">{{ block.settings.header__text | escape }}</h3>
                  <p class="advanced-content_text-content">{{ block.settings.text__content }}</p>
                  {% if block.settings.img_content != blank %}
                  <div class="advanced-image-content">
                    <img class="advanced__image-content"
                    srcset="{%- if block.settings.img_content.width >= 165 -%}{{ block.settings.img_content | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if block.settings.img_content.width >= 360 -%}{{ block.settings.img_content | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if block.settings.img_content.width >= 480 -%}{{ block.settings.img_content | img_url: '480x' }} 480w,{%- endif -%}
                      {%- if block.settings.img_content.width >= 850 -%}{{ block.settings.img_content | img_url: '850x' }} 850w,{%- endif -%}
                      {%- if block.settings.img_content.width >= 1200 -%}{{ block.settings.img_content | img_url: '1300x' }} 1300w,{%- endif -%}
                      {%- if block.settings.img_content.width >= 1500 -%}{{ block.settings.img_content | img_url: '1500x' }} 1500w,{%- endif -%}"
                    src="{{ block.settings.img_content | img_url: 'master' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                    alt="{{ block.settings.img_content.alt | escape }}"
                    loading="lazy"
                    width="{{ block.settings.img_content.width }}"
                    height="{{ block.settings.img_content.height }}"
                  >
                  </div>
                  {% endif %}
                  <div class="advanced-sub_content">{{ block.settings.sub_content }}</div>
                  <div class="advanced-description">{{ block.settings.description }}</div>
                  <div class="wrap-btn">
                    {%- if block.settings.btn_text != blank -%}
                        <a class="link-base" href="{{ block.settings.btn_link | default:'#' }}" title="{{ block.settings.btn_text }}">{{ block.settings.btn_text }}
                          <i class="leofar leofa-arrow-right"></i>
                        </a>
                    {%- endif -%}
                    {%- if block.settings.btn_text_2 != blank -%}
                        <a class="link-base btn-white" href="{{ block.settings.btn_link_2 | default:'#' }}" title="{{ block.settings.btn_text_2 }}">{{ block.settings.btn_text_2 }}
                          <i class="leofar leofa-arrow-right"></i>
                        </a>
                    {%- endif -%}
                  </div>
              </div>
          
          {%- when 'html'-%}
            {{ block.settings.html__text }}
              
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.advanced-content.name",
  "tag": "section",
  "class": "spaced-section advanced-content-template",
  "settings": [
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "t:sections.advanced-content.settings.fullwidth.label",
      "default": false
    },
    {
      "id": "background-color",
      "type": "color",
      "label": "t:sections.advanced-content.settings.background-color.label"
    },
    {
      "type": "text",
      "id": "margin_desktop",
      "label": "t:sections.advanced-content.settings.margin_desktop.label",
      "info": "t:sections.advanced-content.settings.margin_desktop.info"
    },
    {
      "type": "text",
      "id": "padding_desktop",
      "label": "t:sections.advanced-content.settings.padding_desktop.label",
      "info": "t:sections.advanced-content.settings.padding_desktop.info"
    },
    {
      "type": "text",
      "id": "margin_mobile",
      "label": "t:sections.advanced-content.settings.margin_mobile.label",
      "info": "t:sections.advanced-content.settings.margin_mobile.info"
    },
    {
      "type": "text",
      "id": "padding_mobile",
      "label": "t:sections.advanced-content.settings.padding_mobile.label",
      "info": "t:sections.advanced-content.settings.padding_mobile.info"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.advanced-content.settings.heading.label",
      "default": "Multimedia advanced-content"
    },
    {
      "type": "text",
      "id": "text_decoration",
      "label": "t:sections.advanced-content.settings.text_decoration.label",
      "default": "Multimedia advanced-content"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.advanced-content.blocks.image.name",
      "settings": [
        {
        "type": "select",
        "id": "width",
        "label": "t:sections.advanced-content.blocks.image.settings.width.label",
        "default": "66%",
        "options": [
          {
            "value": "25%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__1.label"
          },
          {
            "value": "33%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__2.label"
          },
          {
            "value": "40%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__2_5.label"
          },
          {
            "value": "50%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__3.label"
          },
          {
            "value": "60%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__3_5.label"
          },
          {
            "value": "66%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__4.label"
          },
          {
            "value": "75%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__5.label"
          },
          {
            "value": "100%",
            "label": "t:sections.advanced-content.blocks.image.settings.width.options__6.label"
          }
        ]
       },  
       {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.advanced-content.blocks.image.settings.image.label"
        },
        {
          "type": "checkbox",
          "id": "effects_image",
          "label": "t:sections.advanced-content.blocks.image.settings.effects_image.label",
          "default": false
        }
      ]
    },
    {
        "type": "collection",
        "name": "t:sections.advanced-content.blocks.collection.name",
        "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "t:sections.advanced-content.blocks.collection.settings.width.label",
            "default": "50%",
            "options": [
                {
                "value": "25%",
                "label": "t:sections.advanced-content.blocks.collection.settings.width.options__1.label"
                },
                {
                "value": "33%",
                "label": "t:sections.advanced-content.blocks.collection.settings.width.options__2.label"
                },
                {
                "value": "50%",
                "label": "t:sections.advanced-content.blocks.collection.settings.width.options__3.label"
                },
                {
                "value": "66%",
                "label": "t:sections.advanced-content.blocks.collection.settings.width.options__4.label"
                },
                {
                "value": "75%",
                "label": "t:sections.advanced-content.blocks.collection.settings.width.options__5.label"
                },
                {
                "value": "100%",
                "label": "t:sections.advanced-content.blocks.collection.settings.width.options__6.label"
                }
            ]
            },
            {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.advanced-content.blocks.collection.settings.collection.label"
            },
            {
            "type": "image_picker",
            "id": "image_collection",
            "label": "t:sections.advanced-content.blocks.collection.settings.image_collection.label"
            }
        ]
    },
    {
      "type": "product",
      "name": "t:sections.advanced-content.blocks.product.name",
      "settings": [
      {
          "type": "select",
          "id": "width",
          "label": "t:sections.advanced-content.blocks.product.settings.width.label",
          "default": "50%",
          "options": [
              {
              "value": "25%",
              "label": "t:sections.advanced-content.blocks.product.settings.width.options__1.label"
              },
              {
              "value": "33%",
              "label": "t:sections.advanced-content.blocks.product.settings.width.options__2.label"
              },
              {
              "value": "50%",
              "label": "t:sections.advanced-content.blocks.product.settings.width.options__3.label"
              },
              {
              "value": "66%",
              "label": "t:sections.advanced-content.blocks.product.settings.width.options__4.label"
              },
              {
              "value": "75%",
              "label": "t:sections.advanced-content.blocks.product.settings.width.options__5.label"
              },
              {
              "value": "100%",
              "label": "t:sections.advanced-content.blocks.product.settings.width.options__6.label"
              }
          ]
          },
          {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.advanced-content.blocks.product.settings.collection.label"
          },
          {
            "type": "select",
            "id": "image_ratio",
            "label": "t:sections.advanced-content.blocks.product.settings.image_ratio.label",
            "default": "adapt",
            "options": [
              {
                "value": "adapt",
                "label": "t:sections.advanced-content.blocks.product.settings.image_ratio.options__1.label"
              },
              {
                "value": "portrait",
                "label": "t:sections.advanced-content.blocks.product.settings.image_ratio.options__2.label"
              },
              {
                "value": "square",
                "label": "t:sections.advanced-content.blocks.product.settings.image_ratio.options__3.label"
              }
            ]
          },
          {
            "type": "range",
            "id": "slidesToShow",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToShow.label",
            "default": 1
          },
          {
            "type": "range",
            "id": "slidesToScroll",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToScroll.label",
            "default": 1
          },
          {
            "type": "range",
            "id": "rows",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.rows.label",
            "default": 1
          },
          {
            "type": "checkbox",
            "id": "autoplay",
            "label": "t:sections.advanced-content.blocks.product.settings.autoplay.label",
            "default": true
          },
          {
            "type": "range",
            "id": "autoplaySpeed",
            "min": 1000,
            "max": 5000,
            "step": 1000,
            "label": "t:sections.advanced-content.blocks.product.settings.autoplaySpeed.label",
            "default": 5000
          },
          {
            "type": "range",
            "id": "speed",
            "min": 300,
            "max": 1000,
            "step": 100,
            "label": "t:sections.advanced-content.blocks.product.settings.speed.label",
            "default": 500
          },
          {
            "type": "checkbox",
            "id": "pauseOnHover",
            "label": "t:sections.advanced-content.blocks.product.settings.pauseOnHover.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "arrows",
            "label": "t:sections.advanced-content.blocks.product.settings.arrows.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "dots",
            "label": "t:sections.advanced-content.blocks.product.settings.dots.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "draggable",
            "label": "t:sections.advanced-content.blocks.product.settings.draggable.label",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "infinite",
            "label": "t:sections.advanced-content.blocks.product.settings.infinite.label",
            "default": true
          },
          {
            "type": "header",
            "content": "t:sections.advanced-content.blocks.product.settings.header.content"
          },
          {
            "type": "range",
            "id": "slidesToShow_992",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToShow_992.label",
            "default": 1
          },
          {
            "type": "range",
            "id": "slidesToScroll_992",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToScroll_992.label",
            "default": 1
          },
          {
            "type": "checkbox",
            "id": "arrows_992",
            "label": "t:sections.advanced-content.blocks.product.settings.arrows_992.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "dots_992",
            "label": "t:sections.advanced-content.blocks.product.settings.dots_992.label",
            "default": false
          },
          {
            "type": "header",
            "content": "t:sections.advanced-content.blocks.product.settings.header_1.content"
          },
          {
            "type": "range",
            "id": "slidesToShow_767",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToShow_767.label",
            "default": 1
          },
          {
            "type": "range",
            "id": "slidesToScroll_767",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToScroll_767.label",
            "default": 1
          },
          {
            "type": "checkbox",
            "id": "arrows_767",
            "label": "t:sections.advanced-content.blocks.product.settings.arrows_767.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "dots_767",
            "label": "t:sections.advanced-content.blocks.product.settings.dots_767.label",
            "default": false
          },
          {
            "type": "header",
            "content": "t:sections.advanced-content.blocks.product.settings.header_2.content"
          },
          {
            "type": "range",
            "id": "slidesToShow_450",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToShow_450.label",
            "default": 1
          },
          {
            "type": "range",
            "id": "slidesToScroll_450",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "t:sections.advanced-content.blocks.product.settings.slidesToScroll_450.label",
            "default": 1
          },
          {
            "type": "checkbox",
            "id": "arrows_450",
            "label": "t:sections.advanced-content.blocks.product.settings.arrows_450.label",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "dots_450",
            "label": "t:sections.advanced-content.blocks.product.settings.dots_450.label",
            "default": false
          },
        {
          "id": "show_secondary_image",
          "type": "checkbox",
          "default": false,
          "label": "t:sections.advanced-content.blocks.product.settings.show_secondary_image.label"
        },
        {
            "id": "add_image_padding",
            "type": "checkbox",
            "default": false,
            "label": "t:sections.advanced-content.blocks.product.settings.add_image_padding.label"
          },
        {
          "id": "show_vendor",
          "type": "checkbox",
          "default": false,
          "label": "t:sections.advanced-content.blocks.product.settings.show_vendor.label"
        }
      ]
  },
    {
        "type": "text_list",
        "name": "t:sections.advanced-content.blocks.text_list.name",
        "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "t:sections.advanced-content.blocks.text_list.settings.width.label",
            "default": "33%",
            "options": [
                {
                "value": "25%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__1.label"
                },
                {
                "value": "33%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__2.label"
                },
                {
                "value": "40%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__2_5.label"
                },
                {
                "value": "50%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__3.label"
                },
                {
                "value": "60%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__3_5.label"
                },
                {
                "value": "66%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__4.label"
                },
                {
                "value": "75%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__5.label"
                },
                {
                "value": "100%",
                "label": "t:sections.advanced-content.blocks.text_list.settings.width.options__6.label"
                }
            ]
            },
            {
              "id": "style_text_list",
              "type": "select",
              "options": [
                {
                  "value": "base",
                  "label": "t:sections.advanced-content.blocks.text_list.settings.style_text_list.options__1.label"
                },
                { 
                  "value": "style-1",
                  "label": "t:sections.advanced-content.blocks.text_list.settings.style_text_list.options__2.label"
                },
                { 
                  "value": "style-2",
                  "label": "t:sections.advanced-content.blocks.text_list.settings.style_text_list.options__3.label"
                },
                { 
                  "value": "style-3",
                  "label": "t:sections.advanced-content.blocks.text_list.settings.style_text_list.options__4.label"
                }
              ], 
              "default": "base",
              "label": "t:sections.advanced-content.blocks.text_list.settings.style_text_list.label"
            },
            {
            "type": "text",
            "id": "header__text",
            "label": "t:sections.advanced-content.blocks.text_list.settings.header__text.label",
            "default": "Header"
            },
            {
            "type": "text",
            "id": "text__content",
            "label": "t:sections.advanced-content.blocks.text_list.settings.text__content.label",
            "default": "text advanced to product"
            },
            {
              "type": "image_picker",
              "id": "img_content",
              "label": "t:sections.advanced-content.blocks.text_list.settings.img_content.label"
            },
            {
              "type": "text",
              "id": "sub_content",
              "label": "t:sections.advanced-content.blocks.text_list.settings.sub_content.label",
              "default": "text"
            },
            {
              "type": "text",
              "id": "description",
              "label": "t:sections.advanced-content.blocks.text_list.settings.description.label",
              "default": "text"
            },
            {
              "type": "text",
              "id": "btn_text",
              "label": "t:sections.advanced-content.blocks.text_list.settings.btn_text.label",
              "default": "Show More"
            },
            {
              "type": "url",
              "id": "btn_link",
              "label": "t:sections.advanced-content.blocks.text_list.settings.btn_link.label"
            },
            {
              "type": "text",
              "id": "btn_text_2",
              "label": "t:sections.advanced-content.blocks.text_list.settings.btn_text_2.label",
              "default": "Show More"
            },
            {
              "type": "url",
              "id": "btn_link_2",
              "label": "t:sections.advanced-content.blocks.text_list.settings.btn_link_2.label"
            },
            {
              "type": "select",
              "id": "text_align",
              "label": "t:sections.advanced-content.blocks.text_list.settings.text_align.label",
              "default": "left",
              "options": [
                {
                  "value": "left",
                  "label": "t:sections.advanced-content.blocks.text_list.settings.text_align.options__1.label"
                },
                {
                  "value": "center",
                  "label": "t:sections.advanced-content.blocks.text_list.settings.text_align.options__2.label"
                },
                {
                  "value": "right",
                  "label": "t:sections.advanced-content.blocks.text_list.settings.text_align.options__3.label"
                }
              ]
             }
        ]
    },
{
        "type": "html",
        "name": "t:sections.advanced-content.blocks.html.name",
        "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "t:sections.advanced-content.blocks.html.settings.width.label",
            "default": "33%",
            "options": [
                {
                "value": "25%",
                "label": "t:sections.advanced-content.blocks.html.settings.width.options__1.label"
                },
                {
                "value": "33%",
                "label": "t:sections.advanced-content.blocks.html.settings.width.options__2.label"
                },
                {
                "value": "50%",
                "label": "t:sections.advanced-content.blocks.html.settings.width.options__3.label"
                },
                {
                "value": "66%",
                "label": "t:sections.advanced-content.blocks.html.settings.width.options__4.label"
                },
                {
                "value": "75%",
                "label": "t:sections.advanced-content.blocks.html.settings.width.options__5.label"
                },
                {
                "value": "100%",
                "label": "t:sections.advanced-content.blocks.html.settings.width.options__6.label"
                }
            ]
            },
            {
            "type": "liquid",
            "id": "html__text",
            "label": "t:sections.advanced-content.blocks.html.settings.html__text.label",
            "default": "<div class=\"html\">HTML</div>"
            }
        ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "t:sections.advanced-content.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
           "type": "text_list"
        }
      ]
    }
  ]
}
{% endschema %}