{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}


{%- paginate blog.articles by 6 -%}

<div class="container blog_container">
  <div class="row">
    
    <div class=" col-12 col-sm-12 col-md-8 col-lg-8">
      <div class="main-blog page-width">
        <h1 class="title--primary">{{ blog.title | escape }}</h1>
    
        <div class="blog-articles">
          {%- for article in blog.articles -%}
            <div class="blog-articles__article article">
              {%- render 'article-card', article: article, show_image: section.settings.show_image, show_date: section.settings.show_date, show_author: section.settings.show_author -%}
            </div>
          {%- endfor -%}
        </div>
    
        {%- if paginate.pages > 1 -%}
          {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
      </div>
    </div>
    <div class=" col-12 col-sm-12 col-md-4 col-lg-4">   
      <div class="blog-sidebar">  
        <div class="block-sidebar-blog">
          <h4 class="title_block">{{ 'blogs.article.title_blog' | t }}</h4>      
          <ul class="list-block">
            {% for article in blog.articles %}
            <li>
              <a href="{{ article.url}}">{{ article.title }}</a>
              {{- article.published_at | time_tag: format: 'abbreviated_date' -}}
            </li>
            {% endfor %}
          </ul>
        </div> 
        <div id="categories-blog" class="block-sidebar-blog">
          <h4 class="title_block">{{ 'blogs.article.tags_blog' | t }}</h4>      
          <ul class="list-block">
            {% for tag in blog.all_tags %}
              <li>
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                  {{ tag }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>   
      </div> 
    </div>
    
  </div>
</div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
